<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Paintings</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-toolbar>
        <ion-searchbar [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="onSearchInput()"></ion-searchbar>
  </ion-toolbar>
  <ion-list>
    <button ion-item *ngFor="let item of items" [navPush]="pushPage" [navParams]="item">
 
            
<!--ion-scroll scrollY="true">
 </ion-scroll-->
	<div class="item-note" item-left>	
        <img src="img/{{item.icon}}.jpg" width="100px" height="100px">
	</div>
			<div class="item-note" item-left>	
      {{item.title}}
			</div>
        
      <div class="item-note" item-right>
        {{item.price}}
      </div>

  

    </button>
  </ion-list>
  <!--
     <ion-infinite-scroll ng-if="hasmore"  (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles"
        loadingText="Loading more data..."></ion-infinite-scroll-content>
      </ion-infinite-scroll>

  
-->
 
</ion-content>
